.contactMe__grid__form-wrapper {
  display: flex;
  justify-content: center;
}
.contactMe__grid__form-wrapper__form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
  font-weight: bold;
}

.myPortfolio__container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  height: 90%;
  width: 90%;
  margin: 3% 3% 3% 3%;
}
.myPortfolio__container__tiles {
  border-radius: 20px;
  background-color: whitesmoke;
  border: 2px solid grey;
  align-self: center;
  justify-self: center;
  height: 90%;
  width: 60%;
}
.myPortfolio__container__tiles__tile {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  align-items: center;
  justify-items: center;
}
.myPortfolio__container a > div > img {
  height: 70%;
  width: 80%;
}

.myPortfolio__container__tiles:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(62, 39, 194, 0.486);
}

.about-me__info {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  justify-self: center;
  align-self: center;
  overflow: hidden;
  height: 80%;
  width: 100%;
}
.about-me__info__para1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  padding: 30px;
}
.about-me__info__image {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  padding: 30px;
  height: 70%;
  width: auto;
}
.about-me__info__para2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 3;
  padding: 30px;
}

.skills__skillIcons {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-template-rows: auto;
}

header {
  height: 40px;
}

.logo {
  font-family: "Swanky and Moo Moo", sans-serif;
  font-size: 40px;
  margin-left: 10px;
  color: #3f3a3a;
}

nav {
  height: 50px;
  width: 100%;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
}
nav a {
  list-style-type: none;
  font-size: 30px;
  color: #3f3a3a;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  color: #3f3a3a;
  font-family: "Vollkorn", serif;
  box-sizing: border-box;
}

body {
  background-image: url(./Images/Flower_15.png);
  background-repeat: no-repeat;
  background-size: auto;
  z-index: -10;
  background-position-x: center;
  background-color: #ffffec;
}

.page {
  height: 100vh;
  width: 100%;
}
.page__title {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #867f7f;
  line-height: 0.1em;
}
.page__line {
  padding: 0 10px;
  background-color: #ffffec;
}

.contact__icons {
  font-size: 100px;
  color: #464242;
}

.home__hero {
  height: 62%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home__hero__image {
  height: 75%;
  margin-bottom: 25px;
}
.home__hero h3 {
  padding: 10px;
  color: grey;
}

.skills__skillIcons {
  font-size: 120px;
  color: #464242;
}