* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(255, 255, 236);
}


.page {
  height: 100vh;
  width: 100vw;

  &__title {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgb(134, 127, 127);
    line-height: 0.1em;
    margin: 10px 0 20px;
  }

  &__line {
    padding: 10px;
  }
}